<p>login works!</p>
<div class="main" >
    <div style="position:relative">
        <form action="">
            <div style="margin: 10px;">
                <input type="text" placeholder="User Name">
            </div>
            <div  style="margin: 10px;">
                <input type="password" placeholder="Password">
            </div>
            <div style="display: flex;justify-content: space-between; margin: 10px;">
                <div>
                    <button>login</button>
                </div>
                <div>
                    <button>Sign Up</button>
                </div>
            </div>
        </form>

    </div>
  
  
</div>